/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v8-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v8-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover; /* contain */
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff7f0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media screen and (max-width: 1020px) {
  .container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
@media screen and (max-width: 790px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.btn {
  background: #030303;
  border-radius: 28px;
  padding: 14px 45px;
  color: #fff7f0;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
}
.btn:hover {
  background: #755cde;
  transition: 0.5s;
}

.comment-btn {
  background: #eb7565;
}
.comment-btn:hover {
  background: #f6a560;
}

.cta__btn {
  background: #eb7565;
}
.cta__btn:hover {
  background: #f6a560;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.5rem;
}
.header__container .site-logo:hover {
  opacity: 0.6;
}
.header__container .site-logo .site-logo-img {
  width: 64px;
  height: 64px;
}
.footer__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.site-logo:hover {
  opacity: 0.6;
  transition: 0.7s;
}

.hero__container {
  padding-top: 7rem;
  text-align: center;
  padding-bottom: 14rem;
}

.hero__title {
  color: var(--black, #030303);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (L) */
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero__text {
  margin-top: 2.3rem;
  margin-right: auto;
  margin-left: auto;
  width: 730px;
  justify-content: center;
  color: var(--medium-brown, #7a746e);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Body (M) */
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.img__box {
  display: flex;
  gap: 2.4rem;
}

.hero__wrapper {
  justify-content: space-between;
  padding-top: 8rem;
  display: flex;
}
.hero__wrapper .photography {
  margin-bottom: 2.4rem;
}
.hero__wrapper .hero__img__wrapper .web-design-img {
  margin-bottom: 2.4rem;
  justify-content: space-between;
  display: flex;
}

.comment__container {
  padding-bottom: 9rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.comment__content {
  width: 540px;
  height: 306px;
  flex-shrink: 0;
}
.comment__content .comment-title {
  margin-bottom: 3.4rem;
  color: #030303;
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (M) */
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.comment__content .comment-text {
  margin-bottom: 3.2rem;
  color: var(--medium-brown, #7a746e);
  font-feature-settings: "clig" off, "liga" off;
  /* Body (M) */
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.works__container {
  padding-bottom: 9rem;
}
.works__container .works__images {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
}
.works__container .works-title {
  margin-bottom: 5.6rem;
  text-align: center;
  color: var(--black, #030303);
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (S) */
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.works__container .scrools {
  justify-content: center;
  gap: 1.6rem;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 1020px) {
  .img__box {
    justify-content: space-between;
  }
  .hero__wrapper {
    flex-direction: column;
  }
  .design {
    gap: 2.4rem;
    margin-top: 3rem;
    justify-content: space-between;
    display: flex;
  }
  .design img {
    width: 333px;
    height: 182px;
    flex-shrink: 0;
  }
  .comment__container {
    justify-content: space-between;
  }
  .comment__container .comment-title {
    width: 339px;
    color: var(--black, #030303);
    font-feature-settings: "clig" off, "liga" off;
    /* Heading (S) */
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .comment__container .comment-text {
    width: 339px;
    color: var(--medium-brown, #7a746e);
    font-feature-settings: "clig" off, "liga" off;
    /* Body (M) */
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
  }
  .comment__container .img {
    width: 364px;
    height: 364px;
    flex-shrink: 0;
    border-radius: 364px;
  }
  .works__container .works__images {
    justify-content: center;
  }
  .works__container .works__images .Bitmap3 {
    display: none;
  }
}
@media screen and (max-width: 790px) {
  .hero__container {
    padding-top: 3.4rem;
    padding-bottom: 10rem;
  }
  .hero__container .hero__title {
    margin-right: auto;
    margin-left: auto;
    width: 343px;
    color: var(--black, #030303);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .hero__container .hero__text {
    width: 285px;
    color: var(--medium-brown, #7a746e);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
  }
  .hero__wrapper .img__box {
    flex-direction: column;
  }
  .hero__wrapper .img__box .graphic-img {
    width: 343px;
  }
  .hero__wrapper .img__box .web-design-img {
    width: 343px;
  }
  .hero__wrapper .img__box .illus {
    width: 343px;
  }
  .design {
    flex-direction: column;
  }
  .design img {
    width: 343px;
    height: 182px;
  }
  .comment__container {
    text-align: center;
    flex-direction: column;
  }
  .comment__container img {
    margin-bottom: 4rem;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
  }
  .comment__container .comment-title {
    margin-left: auto;
    margin-right: auto;
    width: 343px;
    color: var(--black, #030303);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .comment__container .comment-text {
    margin-left: auto;
    margin-right: auto;
    width: 343px;
    color: var(--medium-brown, #7a746e);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
  }
  .comment__container .comment-btn {
    justify-content: center;
  }
  .works__container .works__images img {
    width: 400px;
  }
}
.contact__container {
  align-items: center;
  border-radius: 10px;
  background: var(--black, #030303);
  display: flex;
  margin-bottom: 6rem;
  justify-content: space-between;
  width: 1110px;
  height: 320px;
  flex-shrink: 0;
}

.cta__box {
  align-items: center;
  width: 540px;
}
.cta__box h3 {
  margin-bottom: 25px;
  color: var(--light-cream, #fff7f0);
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (M) */
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cta__box p {
  color: var(--light-cream, #fff7f0);
  font-feature-settings: "clig" off, "liga" off;
  /* Body (M) */
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

@media screen and (max-width: 1020px) {
  .contact__container {
    flex-direction: column;
    width: 690px;
  }
  .contact__container .cta__box {
    margin-top: 5.6rem;
  }
  .contact__container .cta__box h3 {
    width: 540px;
    color: var(--light-cream, #fff7f0);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    /* Heading (S) */
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .contact__container .cta__box p {
    margin-bottom: 2.6rem;
    width: 540px;
    color: var(--light-cream, #fff7f0);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    /* Body (M) */
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
  }
  .contact__container a {
    margin-bottom: 6.4rem;
  }
}
@media screen and (max-width: 790px) {
  .contact__container {
    justify-content: center;
    width: 415px;
    height: 360px;
  }
  .contact__container .cta__box h3 {
    color: var(--light-cream, #fff7f0);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .contact__container .cta__box p {
    margin-right: auto;
    margin-left: auto;
    width: 295px;
    color: var(--light-cream, #fff7f0);
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
  }
}/*# sourceMappingURL=style.css.map */